.skills__container{
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
}
.skills__card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: rgb(95 92 92 / 18%);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
}
.skills__card:hover{
    transform: translateY(-10px);
}
.skills__img{
    margin-bottom: 1.25rem;
    width: 50%;
}
.skills__card .skills__title{
    font-size: var(--normal-font-size);
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(61, 61, 61);
    text-align: center;

}
.skills__description{
    color: #f8f9fa
}

@media screen and (max-width: 1024px) {
    .skills__container{
        grid-template-columns: repeat(3, 230px);
        justify-content: center;
        row-gap: 1.875rem;
    }

}
@media screen and (max-width: 768px) {
    .skills__container{
        grid-template-columns:  repeat(2, 170px);
        row-gap: 1rem;
    }
    .skills__card{
        padding: .875rem;
    }
    
}
@media screen and (max-width: 350px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

}